/* About */
div.about {
    background-color: var(--main);
    width: 80%;
    border-radius: 1em;

    margin-top: 1em;

    display: flex;
    flex-direction: row;
}

/* Text */
div.text {
    margin: 1em;
    width: 60%;
}
div.text > h3 {
    margin-bottom: 0.3em;
}

/* Image */
div.image {
    width: 40%;
    border: 1px solid white;
    border-radius: 1em;

    overflow: hidden;
    margin: 1em;
}

/* Media Query: Responsive Design */
@media (min-width: 600px) {
    /* Resize Container */
    div.about {
        width: 60%;
    }
}
@media (min-width: 800px) {
    /* Resize Container */
    div.about {
        width: 50%;
    }
}