/* Skills */
div.skills {
    background-color: var(--main);
    width: 80%;
    border-radius: 1em;

    margin-top: 1em;
}

/* Skills: Section */
div.skills > div {
    margin: 1em;
}
div.skills > div > h3 {
    margin-bottom: 0.5em;
}

/* Icons */
div.icons {
    margin-left: 2em;
    margin-bottom: 0.5em;

    display: flex;
    flex-direction: row;
    align-items: center;
}
/* Icon */
div.icons > div {
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.3em;
    border: 1px solid white;
    background-color: white;

    margin-right: 1em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}
div.icons > div:hover {
    opacity: 0.7;
}

/* Media Query: Responsive Design */
@media (min-width: 600px) {
    /* Resize Container */
    div.skills {
        width: 60%;
    }
}
@media (min-width: 800px) {
    /* Resize Container */
    div.skills {
        width: 50%;
    }
}